@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 50;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #fefcf3;
}

.contenu {
  padding-top: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 0;
}

.layout {
  padding-top : 7.8rem;
}

.slot_image {
  width: 100%;
  height : 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content : flex-end;

}

h1 {
  width : 60%;
  padding : 4rem 4rem 1rem 4rem;
  margin-bottom : 4rem;
  color : white;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  letter-spacing: -0.25px;
  text-transform: uppercase;
  border: white double 4px;
}

h2,
h3 {
  text-align: left;
  font-family: "Bebas Neue";
  font-weight: 100;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom : 0rem;
}

p {
  color: black;
}


.shadow {
  box-shadow: rgba(50, 50, 93, 0.8) 0px 2px 5px -1px, rgba(0, 0, 0, 0.8) 0px 1px 3px -1px;

  /*box-shadow:rgb(0,0,0) 5px 5px 0px -3px*/
}


::selection {
  color: #fefcf3;
  background: #1a949d;
}


/* ------------------------------------------------------------------------------------------

            Styles de sous-sections

--------------------------------------------------------------------------------------------*/
.sub__section {
  border : solid pink;
  width : 100%;
  margin-bottom : 3rem;
}

.sub__section h1 {
  padding-top : 0rem;
  margin : 0;
  color : black;
  border : none;
  border-bottom: black solid 1px;
  width : 100%;
}


.sub__section h2 {
  text-align : left;
  padding-bottom : 1rem;
  padding-left : 4rem;
  margin : 1rem;
  margin-top : 2rem;
  border-bottom: solid 1px;
}

.sub__section__content {
  border : solid blue;
  display : flex;
  flex-direction : row;
}

/* Pour les textes de référencement */
.referencement {
  padding-left : 3rem;
  width : 80%;
  color : #1A949D;
  font-style: italic;
}

/* ------------------------------------------------------------------------------------------

            RESPONSIVE TELEPHONES

--------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 600px) {
  h1 {
    font-size : 1.5rem;
    padding : 2rem 2rem 1rem 2rem;
  
  }

  .contenu {
    margin-top: 3rem;
    padding : 0.5rem;
    display : flex;
    flex-direction : column;
    gap : 2rem;
  }
}